#field {
    background: url(images/space.png);
    position: absolute;
    top: 10px;
    left: 15px;
}

#score {
    position: absolute;
    top: 25px;
    left: 500px;
    width: 100px;
    text-align: right;
    color: #ffff00;
    font: 22px arial, sans-serif;
}

#pause {
    position: absolute;
    top: 240px;
    left: 105px;
    width: 400px;
    height: 100px;
    font: 50px bold arial, sans-serif;
    text-align: center;
    padding-top: 12px;
    padding-left: 20px;
    color: #ffff00;
    letter-spacing: 20px;
    text-transform: uppercase;
    visibility: hidden;
    border-style: solid;
    border-width: 3px;
    border-color: #ffff00;
    border-radius: 30px;
    background-color: rgba(0, 0, 255, 0.25);
}

#resume {
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 6px;
    margin-top: 8px;
    margin-left: -10px;
}