#field {
    background: url(images/nebula3a.jpg);
    position: absolute;
    top: 10px;
    left: 15px;
}

#healthbar {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 100px;
    height: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

#health {
    width: 100%;
    height: 100%;
    background-color: red;
}

#lives {
    position: absolute;
    top: 12px;
    left: 125px;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
}

#score {
    position: absolute;
    top: 25px;
    left: 500px;
    width: 100px;
    text-align: right;
    color: #ffff00;
    font: 22px arial, sans-serif;
}

.overlay {
    position: absolute;
    font: 50px bold arial, sans-serif;
    text-align: center;
    padding-top: 12px;
    padding-left: 20px;
    color: #ffff00;
    letter-spacing: 20px;
    text-transform: uppercase;
    visibility: hidden;
    border-style: solid;
    border-width: 3px;
    border-color: #ffff00;
    border-radius: 30px;
    background-color: rgba(0, 0, 255, 0.25);
}

#start {
    top: 180px;
    left: 105px;
    width: 400px;
    height: 260px;
}

#end {
    top: 240px;
    left: 135px;
    width: 340px;
    height: 130px;
}

#pause {
    top: 240px;
    left: 105px;
    width: 400px;
    height: 100px;
}

.underneath {
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 6px;
    line-height: 24px;
}

#begin {
    margin-top: 16px;
    margin-left: -10px;
}

#resume {
    margin-top: 2px;
    margin-left: -10px;
}

#mouse_ctrl {
    position: absolute;
    top: 650px;
    left: 15px;
}