@font-face {
    font-family: 'Shear15';
    src: url('fonts/shear15-webfont.eot');
    src: url('fonts/shear15-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/shear15-webfont.woff') format('woff'),
         url('fonts/shear15-webfont.ttf') format('truetype'),
         url('fonts/shear15-webfont.svg#Shear15ARegular') format('svg');
    font-weight: bold;
    font-style: normal;
}

#field {
    background: url(images/nebula3a.jpg);
    position: absolute;
    top: 10px;
    left: 15px;
}

#healthbar {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 100px;
    height: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

#health {
    width: 100%;
    height: 100%;
    background-color: red;
}

#lives {
    position: absolute;
    top: 12px;
    left: 125px;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
}

#score {
    position: absolute;
    top: 25px;
    left: 500px;
    width: 100px;
    text-align: right;
    color: #ffff00;
    font: 22px Arial, sans-serif;
}

#level {
    position: absolute;
    top: 25px;
    left: 240px;
    width: 100px;
    text-align: right;
    color: #ffff00;
    font: 22px Arial, sans-serif;
}

#combo {
    position: absolute;
    top: 25px;
    left: 340px;
    width: 200px;
    text-align: center;
    color: #ffff00;
    font: 22px Arial, sans-serif;
}

.overlay {
    position: absolute;
    font-family: 'Shear15', Arial, sans-serif;
    font-weight: bold;
    font-size: 50px;
    line-height: 62px;
    text-align: center;
    padding-top: 12px;
    color: #ffff00;
    text-transform: uppercase;
    visibility: hidden;
    border-style: solid;
    border-width: 3px;
    border-color: #ffff00;
    border-radius: 30px;
    background-color: rgba(0, 0, 255, 0.25);
}

#start {
    top: 140px;
    left: 95px;
    width: 420px;
    height: 340px;
}

#end {
    top: 200px;
    left: 135px;
    width: 340px;
    height: 200px;
}

#pause {
    top: 240px;
    left: 105px;
    width: 400px;
    height: 100px;
}

#credits {
    top: 70px;
    left: 105px;
    width: 400px;
    height: 500px;
    padding-right: 10px;
    font: 14px bold Arial, sans-serif;
    letter-spacing: 0;
    line-height: normal;
}

.underneath {
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 6px;
    line-height: 24px;
}

a {
    color: #ffff00;
}

.underneath a {
    display: inline-block;
    margin: 10px;
    color: #ffff00;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 4px;
    background-color: rgba(96, 96, 255, 0.25);
    border-style: solid;
    border-width: 3px;
    border-color: #ffff00;
    border-radius: 14px;
    text-decoration: none;
}

.underneath a:hover {
    background-color: rgba(192, 192, 255, 0.25);
}

ul {
    list-style-type: none;
    margin: 15px;
    padding: 0;
    text-transform: none;
}

section h1 {
    margin: 10px;
    text-decoration: underline;
}

#begin {
    margin-top: 16px;
    margin-left: -10px;
}

#resume {
    margin-top: 2px;
    margin-left: -10px;
}

#mouse_ctrl {
    position: absolute;
    top: 650px;
    left: 15px;
}

.FlattrButton {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 228px;
    height: 130px;
    z-index: -1;
}